<!DOCTYPE html>
<html>
<head>
    <title>Ouverture du vote</title>
    <style>
      body {
        font-family: 'Segoe UI', sans-serif;
        background: #141e30;
        margin:0;
        color:white;
      }
      #countdown {
        font-size: 100px;
        margin-top: 80px;
        color: #cbd5e1;
        text-align : center;
      }
      h1 {
        font-size: 32px;
        margin-bottom: 20px;
        color: #cbd5e1;
        text-align : center;
      }
    </style>
</head>
<body>

<h1>Ouverture du vote dans :</h1>

<div id="countdown"></div>

<script>
var countDownDate = new Date("{{ date }}").getTime();

var x = setInterval(function() {

    var now = new Date().getTime();
    var distance = countDownDate - now;

   if (distance <= 0) {
        clearInterval(x);
        window.location.href ="/";
        return;
    }

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML =
        days + "J " + hours + "h "
        + minutes + "m " + seconds + "s";

}, 1000);
</script>

</body>
</html>